body {
  margin: 0;
  font-size: 0;
}
#crosshair {
  font-family: sans-serif;
  font-size: 40px;
  color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  user-select: none;
  z-index: 2;
}
