.uiItemStack {
  position: relative;
  
  /* defaults - may be overriden */
  width: 50px;
  height: 50px;
}
.uiIS_iconContainer {
  width: 100%;
  height: 100%;
}
.uiIS_iconImg {
  width: 100%;
}
.uiIS_count {
  font-family: sans-serif;
  font-size: 16px;
  color: white;
  
  position: absolute;
  right: 2px;
  bottom: 2px;
}
.uiIS_bar {
  position: absolute;
  left: 5%;
  bottom: 10%;
  height: 5px;
  
  background-color: #0c0;
}

.uiInvList {
  
}
.uiIL_square {
  display: inline-block;
  vertical-align: top;
  margin: 3px;
  border: 2px solid #444;
  background-color: #777;
  width: 50px;
  height: 50px;
  padding: 3px;
}
.uiHand_square {
  margin: 8px;
  border: 0px;
  padding: 0px;
  background-color: transparent;
}

#uiHand {
  display: none;
  position: fixed;
  
  transform: translate(-50%, -50%);
  
  pointer-events: none;
  
  z-index: 10;
}
#uiWindowContainer {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  z-index: 5;
}

.uiWindow {
  border: 2px solid #333;
  background-color: #999;
  padding: 20px;
}

.uiEl_spacer {
  height: 20px;
}
.uiEl_text {
  font-family: sans-serif;
  font-size: 18px;
}
.uiEl_br {
  
}
.uiEl_button, .uiEl_select, .uiEl_input_text {
  background-color: #bbb;
  color: black;
  border: 1px solid #555;
  padding: 5px;
  
  font-family: sans-serif;
  font-size: 18px;
  
  margin: 2px;
}
.uiEl_button {
  
}
.uiEl_select {
  
}
.uiEl_input_text {
  background-color: white;
}
